<!doctype html>
<html lang="en">

{% include 'partials/head.html' %}

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout">
    {% include 'partials/navigation.html' %}
    <main class="mdl-layout__content">
      <div class="page-content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
          <div class="mdl-snackbar__text">{{ message }}</div>
          <button type="button" class="mdl-snackbar__action"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
      </div>
    </main>
  </div>
  <script>feather.replace()</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/en-ca.js"></script>
  <script>
    moment().format();
  </script>
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>