{% extends "base.html" %}

{% block content %}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset mdl-cell--12-col-tablet mdl-cell--12-col-phone">
        <h4>Explore your interests <i data-feather="compass"></i></h4>
        <ul class="demo-list-three mdl-list">
            {% for post in posts %}
            {% include 'partials/_post.html' %}
            {% endfor %}
        </ul>
        {% if prev_url %}
        <a href="{{ prev_url }}" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab">
            <i class="material-icons">
                keyboard_arrow_left
            </i>
        </a>

        {% endif %}
        {% if next_url %}
        <a href="{{ next_url }}"
            class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">
            <i class="material-icons">
                keyboard_arrow_right
            </i>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}